.homepage-div > h2{
    text-align: center;
}

.movie-data-div{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.original-img{
    height: 300px;
    object-fit: contain;
    margin: 15px;
    transition: 0.5s;
}

.original-img:hover{
    transform: scale(1.05);
}



/* for mobile */
@media only screen and (max-width: 568px) {
    .original-img{
        height: 225px;
        margin: 10px;
    }
}